@import url("https://fonts.googleapis.com/css2?family=Alata&family=Prata&family=Oswald:wght@500&display=swap");

:root {
  /**
*COLORS
*/

  /* light themes */
  --background-light: hsl(293, 100%, 98%);
  --on-background-light: hsl(264, 8%, 12%);
  --surface-light: hsl(293, 100%, 98%);
  --on-surface-light: hsl(264, 8%, 12%);
  --on-surface-variant-light: hsl(264, 7%, 29%);
  --surface-container-low-light: hsl(278, 44%, 96%);
  --surface-container-light: hsl(276, 38%, 95%);
  --surface-bright-light: hsl(293, 100%, 98%);
  --primary-light: hsl(256, 34%, 48%);
  --on-primary-light: hsl(0, 0%, 100%);
  --outline-light: hsl(270, 4%, 47%);
  --outline-variant-light: hsl(270, 11%, 79%);

  /* dark themes */
  --background-dark: hsl(260, 14%, 8%);
  --on-background-dark: hsl(280, 17%, 90%);
  --surface-dark: hsl(260, 14%, 8%);
  --on-surface-variant-dark: hsl(270, 11%, 79%);
  --on-surface-dark: hsl(280, 17%, 90%);
  --surface-container-low-dark: hsl(264, 8%, 12%);
  --surface-container-dark: hsl(257, 10%, 14%);
  --surface-bright-dark: hsl(270, 5%, 23%);
  --primary-dark: hsl(258, 100%, 87%);
  --on-primary-dark: hsl(259, 58%, 28%);
  --outline-dark: hsl(264, 5%, 58%);
  --outline-variant-dark: hsl(264, 7%, 29%);
}

[data-theme="light"] {
  color-scheme: light;
  --background: var(--background-light);
  --on-background: var(--on-background-light);
  --surface: var(--surface-light);
  --on-surface: var(--on-surface-light);
  --on-surface-variant: var(--on-surface-variant-light);
  --surface-container-low: var(--surface-container-low-light);
  --surface-container: var(--surface-container-light);
  --surface-bright: var(--surface-bright-light);
  --primary: var(--primary-light);
  --on-primary: var(--on-primary-light);
  --outline: var(--outline-light);
  --outline-variant: var(--outline-variant-light);
}

[data-theme="dark"] {
  color-scheme: dark;
  --background: var(--background-dark);
  --on-background: var(--on-background-dark);
  --surface: var(--surface-dark);
  --on-surface: var(--on-surface-dark);
  --on-surface-variant: var(--on-surface-variant-dark);
  --surface-container-low: var(--surface-container-low-dark);
  --surface-container: var(--surface-container-dark);
  --surface-bright: var(--surface-bright-dark);
  --primary: var(--primary-dark);
  --on-primary: var(--on-primary-dark);
  --outline: var(--outline-dark);
  --outline-variant: var(--outline-variant-dark);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    --motion-duration-short-1: 100ms;

    --motion-easing-linear: cubic-bezier(0, 0, 1, 1);
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
}
body {
  background-color: var(--background);
}
a {
  text-decoration: none;
  color: #ffffff;
}

[data-theme="dark"] .logo .light,
[data-theme="light"] .logo .dark {
  display: none;
}

[data-theme="dark"] .logo .dark,
[data-theme="light"] .logo .light {
  display: block;
}

.theme-btn .dark {
  display: block;
}

.theme-btn .light {
  display: none;
}

[data-theme="light"] .theme-btn .dark {
  display: none;
}

[data-theme="light"] .theme-btn .light {
  display: block;
}

.icon-btn {
  width: 40px;
  height: 40px;
  place-items: center;
  border-radius: 70px;
  border: none;
}

.navbar {
  background-color: var(--surface-container);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--top-bar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  padding-inline: 30px;
  z-index: 4;
}

.navbar-left {
  color: var(--on-surface-variant);
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.navbar-left:hover {
  filter: drop-shadow(0px 0px 14px rgba(255, 174, 0, 0.712));
}

.navbar-right a {
  color: var(--on-surface-variant);
  text-decoration: none;
  margin-left: 20px;
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  position: relative;
}

.navbar-right a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #ff9900;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.navbar-right a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.container-head {
  margin-left: 60px;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container-head-2 {
  margin-top: 20px;
  margin-left: 130px;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  color: var(--on-surface-variant);
  margin: 95px 95px 0 95px;
  display: flex;
  justify-content: space-evenly;
}
.subjects-section {
  width: 45%;
}

.header4 {
  font-family: "Manrope", sans-serif;
  padding: 15px;
}

.subjects,
.selected-subjects {
  background-color: var(--surface-container);
  border-radius: 10px;
  padding: 20px;
  height: 400px;
  overflow-y: scroll;
}
.selected-subjects-section {
  width: 45%;
}
.selected-subjects {
  margin-top: 40px;
}
.selected-subjects::-webkit-scrollbar {
  width: 10px;
}

.subjects::-webkit-scrollbar {
  width: 10px;
}
.selected-subjects::-webkit-scrollbar-track {
  display: none;
}

.subjects::-webkit-scrollbar-track {
  display: none;
}
.selected-subjects::-webkit-scrollbar-thumb {
  background-color: var(--on-surface-variant);
  border-radius: 10px;
}

.subjects::-webkit-scrollbar-thumb {
  background-color: var(--on-surface-variant);
  border-radius: 10px;
}

.subjects::-webkit-scrollbar-thumb:hover {
  background: #353535;
}

.search-box {
  width: 53%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  background-color: var(--surface-container);
  border: none;
}
.subjects {
  background-color: var(--surface-container);
}
.subjects .subject-item {
  display: block;
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--surface-container-low);
}

.subjects .subject-item:hover {
  background-color: var(--on-surface-variant);
  color: var(--surface-container);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.subject-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button,
.remove-button {
  background-color: green;
  border: none;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.add-button:hover,
.remove-button:hover {
  background-color: #45a049;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  animation: slideDown 0.3s ease-out forwards;
  overflow: hidden;
  padding: 8px;
  border: none;
  text-decoration: none;
}

.dropdown-content p {
  margin: 0;
  padding: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  background-color: var(--surface-container-low);
  border: none;
  transition: background-color 0.3s;
}

.dropdown-content p:hover {
  color: var(--on-surface-variant);
  background-color: var(--surface-bright);
}

.selected-subjects .subject-item {
  position: relative;
  transition: margin-bottom 0.3s ease;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    max-height: 200px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

.subject-item:hover .dropdown-content {
  display: flex;
  animation: slideDown 0.3s ease-out forwards;
  margin-bottom: 10px;
}

.subject-item .dropdown-content.hide {
  animation: slideUp 0.3s ease-out forwards;
}

.message {
  padding-top: 150px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 1.2em;
  color: var(--on-surface-variant);
}

.title {
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
}

.title2 {
  font-size: 1.5em;
  margin-top: 15px;
}

iframe {
  width: 80%;
  height: 100vh;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.notes {
  padding: 20px;
  text-align: center;
  padding: 20px;
  color: var(--on-surface-variant);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  width: 95%;
  padding: 20px;
  gap: 15px;
}

.class-chapter {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
  justify-content: center;
  display: none;
  padding: 30px;
}

.class-chapter a {
  text-decoration: none;
  color: var(--on-surface-variant);
}

.class-chapter h4 {
  margin: 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: var(--surface-container);
  font-size: 16px;
  text-align: center;
}

@media (max-width: 768px) {
  .class-chapter h4 {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .class-chapter {
    flex-direction: column;
  }
  .class-chapter h4 {
    font-size: 12px;
    padding: 8px;
  }
}

.one {
  padding: 20px;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  background-color: var(--surface-container);
  color: var(--on-surface-variant);
  font-family: "Manrope", sans-serif;
}
.one:hover {
  background-color: var(--on-surface-variant);
  color: var(--surface-container);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* RESPONSIVE */

@media screen and (max-width: 800px) {
  .navbar-left {
    font-size: 1.2rem;
  }

  .navbar-right a {
    font-size: 0.8em;
  }

  .container-head {
    margin-left: 20px;
    font-size: 30px;
  }
  .container-head-2 {
    margin-left: 20px;
    font-size: 30px;
  }
  .container {
    margin: 80px 20px 0 20px;
    flex-direction: column;
    align-items: center;
  }

  .chapter-iframe {
    height: 500px;
  }

  .subjects {
    overflow-y: auto;
    max-height: 350px;
  }

  .selected-subjects {
    padding: 30px;
    overflow-y: auto;
    max-height: 350px;
  }

  .subjects-section,
  .selected-subjects-section {
    width: 100%;
  }

  .selected-subjects {
    margin-top: 20px;
    height: 300px;
  }

  .subjects,
  .selected-subjects {
    height: auto;
  }

  .class-chapter {
    margin-left: 0px;
  }
  .grid-container {
    width: 100%;
  }
  .message {
    padding-top: 0px;
  }
}

@media screen and (max-width: 1016px) {
  .container-head-2 {
    margin-left: 50px;
    font-size: 30px;
  }
}
@media screen and (max-width: 1240px) {
  .container-head-2 {
    margin-left: 40px;
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .navbar-left {
    font-size: 1.2rem;
  }

  .navbar-right a {
    font-size: 0.8em;
  }

  .container-head,
  .container-head-2 {
    margin-left: 20px;
    font-size: 30px;
  }
  .container {
    margin: 80px 20px 0 20px;
    flex-direction: column;
    align-items: center;
  }

  .subjects-section,
  .selected-subjects-section {
    width: 100%;
  }

  .selected-subjects {
    margin-top: 20px;
    height: 300px;
  }

  .subjects,
  .selected-subjects {
    height: auto;
  }

  .subjects {
    overflow-y: auto;
    max-height: 350px;
  }

  .selected-subjects {
    padding: 30px;
    overflow-y: auto;
    max-height: 350px;
  }
}

.mcq-container {
  background-color: #181818;
  color: #ddd;
  border-radius: 10px;
  padding: 30px;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  font-size: 18px;
}
.mcq-question p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 50px;
}

.mcq-question {
  margin-bottom: 20px;
}

.mcq-option {
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  cursor: pointer;
  display: block;
  color: #ddd;
  transition: all 0.3s ease;
  font-size: 18px;
}

.mcq-option:hover {
  color: #fff;
}

.mcq-option input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
}

.mcq-checkmark {
  position: absolute;
  top: 0;
  left: 85px;
  height: 25px;
  width: 25px;
  background-color: #444;
  border: 2px solid #ddd;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.mcq-option input:checked ~ .mcq-checkmark {
  background-color: #21bf73;
  border: none;
}

.mcq-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.mcq-option input:checked ~ .mcq-checkmark:after {
  display: block;
}

.mcq-option .mcq-checkmark:after {
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  transform: translate(-50%, -50%);
}

.mcq-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mcq-btn-primary {
  background-color: #444;
  color: #ddd;
  border: 2px solid #ddd;
}

.mcq-btn-primary:hover {
  background-color: #666;
  border: 2px solid #666;
}

.mcq-btn-success {
  background-color: #21bf73;
  color: #fff;
}

.mcq-btn-success:hover {
  background-color: #1a9d5c;
}

.feedback {
  font-size: 16px;
  color: orange;
  margin-top: 10px;
}
.mcq-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.mcq-btn-next {
  margin-left: 450px;
  background-color: #21bf73;
  color: #fff;
}

@media (max-width: 768px) {
  .mcq-container {
    padding: 15px;
  }

  .mcq-btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .mcq-buttons {
    flex-direction: column;
    align-items: stretch;
  }
  .mcq-btn-next {
    margin-left: 0px;
  }
  .mcq-checkmark {
    left: 30px;
  }
}

#chapters {
  display: none;
}

.notes-container {
  display: block;
}

.dropdown-content.show {
  display: block;
}
.error-underdev{
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
}
.navbar-left a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.hamburger span {
  height: 3px;
  background: white;
  margin: 4px;
  border-radius: 5px;
  width: 25px;
}
.navbar-left.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-right {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .navbar-right.active {
      display: flex;
  }

  .hamburger {
      display: flex;
  }
  
}
footer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 75%;
    margin: auto;
    opacity: 0.2;
    border-top: 1px solid #212121;
}

footer:hover
{
    animation: fade 0.3s ease;
    opacity: 0.9;
}
.popup {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.popup-content {
  color: #ffffff;
  background-color: #000000;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .popup-content {
    width: 80%;
  }
}